<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	     <%= csrf_meta_tag %>
	     <%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container">
			<header>
				<img src="/assets/rails.png" alt = "Ruby on Rails", :class = "round" >
			<nav class="round">
				<ul>
            		<li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Help", help_path %></li>
                    <li><%= link_to "Sign in", '#' %></li>
    	         </ul>
    	    </nav>
			</header>
			<section class="round">
			<%= yield %>
			</section>
		</div>
	</body>
	<footer>
		<nav class="footer">
		<ul>
			<li><%=link_to "About", about_path %></li>
			<li><%=link_to "Contact", contact_path %></li>
			<li><%=link_to "News", "#" %></li>
		</ul>
		</nav>
	</footer>

</html>
